* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

main {
    padding: 20px;
}

.product-evaluation h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.order-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dropdown select {
    padding: 5px;
}

.product-review {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.product {
    display: flex;
}

.image-placeholder {
    width: 150px;
    height: 150px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.product-details h3 {
    font-size: 20px;
}

.stars {
    color: gold;
}

.description {
    margin-top: 10px;
}

.evalText {
    height: 20px;
    width: 500px;
    border-style:inset;
    margin: 2px;

}
.button {
    background-color: #5fa968;
    width: 150px;
    height: 30px;
    margin-left: 900px;
    padding: 5px 50px;
    cursor: pointer;

    display: block;
    margin: 0 auto;  

}
.product-review {
    background-color: rgb(235, 228, 214);
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    display: flex;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: #eaeaea;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
